<section class="twelve columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Masters in Mechanical Systems Design</h1>
            <span>Indian Institute of Technology Kharagpur</span>
            <span>, India<time>2013 to 2017</time></span>
        </header>
        <p>
            <em>Dissertation: Estimation of effective electro-elastic properties of piezoelectric composite with zigzag single-walled carbon nanotubes.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelors in Mechanical Engineering</h1>
            <span>Indian Institute of Technology Kharagpur</span>
            <span>, India<time>2013 to 2017</time></span>
        </header>
        <p>
            <em>Thesis: Prediction of Material Flow Beheviour During Friction Stir Welding of Aluminium 6061 using ANSYS Fluent.</em>
        </p>
    </article>
</section>
