<section class="twelve columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Masters in Mechanical Systems Design</h1>
            <span>Indian Institute of Technology Kharagpur</span>
            <span><address>India</address><time>2013 to 2017</time></span>
        </header>
        <p>
            <em>Dissertation: .</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelors in Mechanical Engineering</h1>
            <span>Indian Institute of Technology Kharagpur</span>
            <span><address>, India</address><time>2013 to 2017</time></span>
        </header>
        <p>
            <em>Thesis: .</em>
        </p>
    </article>
</section>
