<section class="twelve columns">
    <h1>Internships</h1>
    <article>
        <header>
            <h1>Summer Research Intern</h1>
            <span>Indian Institute of Technology Guwahati, India<time>March 2016 to July 2016</time></span>
        </header>
        <p>• Designed a new viscoelastic composite for active and passive layer damping of structural vibration <br\>
 • Succeeded to show a 100% increase in loss factor and 50% reduction in weight of treatment </p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Glasgow, UK</address><time>2014 to 2015</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
</section>
